/******************************TAG SELECTOR**********************/

body {
  background-color: #f9f9e8;
}
hr {
    border-top-width: 6px;
    border-top-color: grey;
    width: 4%;
    border-style: none;
    border-top-style: dotted;
  }
h1 {
  color: #66BFBF;
}
h2 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}

/******************************CLASS SELECTOR**********************/
